{
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        ["@babel/typescript", { "jsxPragma": "h"}],
        ["preact-cli/babel", { "modules": "commonjs" }]
      ],
      "plugins": [
        ["@babel/transform-react-jsx", { "pragma": "h"}]
      ]
    }
  },
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
